.contact {
	padding-top: 82px;
	&-header {
		text-align: center;
		&_title {
			font-family: $default-font;
			font-size: 35px;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			color: #232323;
			letter-spacing: 1.4px;
			margin-bottom: 33px;
			.title_special {
				color: #009dda;
			}
		}
		&_subtitle {
			color: #999999;
			font-family: $default-font;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.56px;
			margin-bottom: 83px;
		}
	}
	&-content {
		position: relative;
		background-image: url('../img/map.png');
		padding-top: 98px;
		padding-bottom: 101px;
		padding-left: 30px;
		padding-right: 30px;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(#000, 0.65);
		}
		&_data {
			padding: 83px 81px;
			padding-left: 67px;
			max-width: 945px;
			margin: auto;
			width: 100%;
			background-color: rgba(#1a1a1a, 0.65);
		}
		&_info {
			color: #f3f3f3;
			font-family: $default-font;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			.phone {
				margin-bottom: 30px;
			}
			a {
				color: #f3f3f3;
				text-decoration: none;
			}
		}
	}
	&-form {
		&_field {
			margin-left: auto;
			color: #b7b7b7;
			font-family: $default-font;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			background-color: transparent;
			width: 100%;
			max-width: 239px;
			border: 1px solid rgba(#ffffff, 0.5);
			padding: 15px 21px;
			margin-bottom: 13px;
		}
		&_submit {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		.input {
			position: relative;
			&-caret {
				position: absolute;
				right: 30px;
				top: 17px;
				font-size: 14px;
			}
		}
		.input:focus + .input-caret {
			color: #fff;
		}
		.textarea {
			max-width: 100%;
			height: 144px;
			resize: none;
			margin-bottom: 30px;
		}
		.button {
			background-color: #ffff00;
			color: #373737;
			font-family: $default-font;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			border: none;
			padding: 19px 43px;
			cursor: pointer;
		}
		.label {
			input {
				position: absolute;
				z-index: -1;
				opacity: 0;
			}
			&-text {
				color: #b7b7b7;
				font-family: $default-font;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				position: relative;
				padding: 0 0 0 35px;
				cursor: pointer;
				&::before {
					content: '';
					position: absolute;
					left: 0;
					width: 23px;
					height: 23px;
					border: 2px solid #b7b7b7;
					box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
					transition: .2s;
				}
			}
		}
			

	}
}

.label input:checked + .label-text:before {
  background: #ffff00;
}

.label input:focus + .label-text:before {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
} 