.header {
	padding-top: 24px;
	padding-bottom: 22px;
	&-logo {
		&_special {
			color: #009dda;
		}
		color: #503392;
		letter-spacing: 1.2px;
		font-family: BEYNO;
		font-size: 30px;
		font-weight: bold;
		line-height: 24px;
		text-transform: uppercase;
	}
	&-menu {
		&_list {
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
		}
		&_item {
			margin: auto 28px;
		}
		&_link {
			color: #232323;
			font-family: $default-font;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			&:hover {
				text-decoration: none;
				font-weight: 700;
				letter-spacing: 0.64px;
				color: #232323;
			}
		}
	}
	&-search {
		position: relative;
		&_input {
			background-color: rgba(#8d78b7, .2);
			border: none;
			max-width: 180px;
			width: 100%;
		}
		&_icon {
			position: absolute;
			right: 27px;
			top: 9px;
			bottom: 9px;
			background-color: transparent;
			border: none;
			img {
				vertical-align: middle;
			}
		}
	}
}