.header {
    padding-top: 24px;
    padding-bottom: 22px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;

    &-logo {
        &_special {
            color: #009dda;
        }

        color: #503392;
        letter-spacing: 1.2px;
        font-family: BEYNO;
        font-size: 30px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
    }

    &-menu {
        &_list {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
        }

        &_item {
            margin: auto 28px;
        }

        &_link {
            color: #232323;
            font-family: $default-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

            &:hover {
                text-decoration: none;
                font-weight: 700;
                color: #232323;
            }
        }
    }

    &-search {
        position: relative;

        &_input {
            background-color: rgba(#8d78b7, .2);
            border: none;
            max-width: 180px;
            width: 100%;
        }

        &_icon {
            position: absolute;
            right: 27px;
            top: 9px;
            bottom: 9px;
            background-color: transparent;
            border: none;

            img {
                vertical-align: middle;
            }
        }
    }

    .burger {
        span {
            display: block;
            width: 28px;
            height: 3px;
            background-color: #333;
            position: relative;
            transition: 0.5s;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #333;
                transition: 0.5s;
            }

            &::before {
                top: -10px;
            }

            &::after {
                top: 10px;
            }
        }

        span.active {
            background: none;

            &::before,
            &::after {
                transition: 0.5s;
            }

            &::before {
                transform: rotate(45deg);
                top: 0;
            }

            &::after {
                transform: rotate(-45deg);
                top: 0;
            }
        }
    }
}


.dropdown {
    position: absolute;
    padding-left: 0;
    width: 183px;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
     background: rgba(#000, 0.65);
     box-sizing: border-box;
     padding: 28px 33px 32px 18px;
     border-top: 2px solid #fff200;
     li {
     	&::before {
     		content: '>';
     		color: #fff;
     		margin-right: 5px;
     	}
     	a {
     		color: #fdfdfd;
     		font-family: $default-font;
     		font-size: 14px;
     		font-weight: 300;
     		line-height: 36px;
     	}
     }
     li:hover {
     	&::before {
     		content: '>>';
     		color: #fff200;
     	}
     }
}

// Multi-level menu

/*First Level*/
.subs {
    position: relative;
    top: 0px;
    width: 183px;

}

.hassubs:hover .dropdown,
.hassubs .hassubs:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

.header-menu_list li:hover ul a,
.header-menu_list li:hover ul li ul li a {
    color: white;
    text-decoration: none;
}

.header-menu_list li ul li:hover,
.header-menu_list li ul li ul li:hover {
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}

.header-menu_list li ul li:hover a,
.header-menu_list li ul li ul li:hover a {
    color: #fff200;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}

/*Second Level*/
.hassubs .hassubs .dropdown .subs {
    left: 25px;
    position: relative;
    width: 183px;
    top: 0px;
}

.hassubs .hassubs .dropdown {
    position: absolute;
    width: 183px;
    left: 165px;
    top: 0px;
    opacity: 0;
    padding-left: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}