@import "vars";

@media (min-width: 1024.5px) {
	.menu {
		display: block!important;
	}
	.d-n {
		display: none;
	}
}
@media (max-width: 1024px) {
	.group-header {
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.menu {
		display: none;
		margin: auto;
	}
	.burger {
		display: block;
		span {
			margin-left: auto;
		}
	}
	.header {
		overflow-y: scroll;
		height: 100%;
		max-height: 200px;
		&-menu {
			&_list {
				flex-direction: column;
				align-items: center;
			}
			&_item {
				text-align: center;
				.dropdown {
					text-align: left;
					padding-left: 5px;
					.dropdown {
						padding-left: 5px;
						margin-left: -5px;
					}
				}
			}
		}	
	}
	.banner {
		&-content {
			&_title {
				font-size: 40px;
			}
			&_subtitle {
				font-size: 14px;
			}
		}
	}
	.menu-active {
		display: block;
	}
	.features {
		&-header {
			&_subtitle {
				font-size: 13px;
			}
		}
		&-items {
			display: block;
		}
		&-item {
			margin-bottom: 20px;
		}
	}
	


	.dropdown {
	    position: static;
	    display: none;
	    padding-left: 0;
	    &:hover {
	     	display: block;
	    }
	}
	/*First Level*/
	.subs {
	    position: relative;
	    top: 0px;
	}

	.hassubs:hover .dropdown,
	.hassubs .hassubs:hover .dropdown {
	    display: block;
	}

	.header-menu_list li ul li:hover,
	.header-menu_list li ul li ul li:hover {
		display: block;
	}
	
	/*Second Level*/
	.hassubs .hassubs .dropdown .subs {
		display: block;
		position: relative;

	}

	.hassubs .hassubs .dropdown {
	    position: static;
	    top: 0px;
	    padding-left: 0;
	   	display: none;
	}
}

@media (max-width: 992px) {
	.contact {
		&-form {
			&_field {
				max-width: 100%;
			}
		}
		&-content {
			&_info {
				display: flex;
				justify-content: space-between;
				margin-top: 20px;
			}
		}
	}
}
@media (max-width: 767px) {
	.banner {
		&-content {
			&_title {
				font-size: 30px;
			}
			&_subtitle {
				font-size: 12px;
			}
		}
	}
	.products {
		&-items {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	.about {
		&-content {
			&_picture {
				display: none;
			}
		}
	}
	.contact {
		&-content {
			&_data {
				padding: 30px 15px;
			}
			&_info {
				flex-direction: column;
				align-items: center;
			}
		}
	}
}

@media (max-width: 450px) {
	.contact {
		&-form {
			&_submit {
				flex-direction: column;
			}
		}
	}
	.footer {
		&-text {
			font-size: 11px;
		}
	}
}
