@import "vars";

@media (min-width: 1024.5px) {
	.menu {
		display: block!important;
	}
	.d-n {
		display: none;
	}
}
@media (max-width: 1024px) {
	.group-header {
		flex-direction: column;

	}
	.menu {
		display: none;
		margin: auto;
	}
	.burger {
		display: block;
		span {
			margin-left: auto;
		}
	}
	.header {
		&-menu {
			&_list {
				flex-direction: column;
				align-items: center;
			}
		}	
	}
	.menu-active {
		display: block;
	}
	.features {
		&-items {
			display: block;
		}
		&-item {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 768px) {
	.about {
		&-content {
			&_picture {
				display: none;
			}
		}
	}
}
