.products {
	position: relative;
	background-image: url('../img/products/product-items-bg.jpg');
	padding-top: 40px;
	&-title {
		text-align: center;
		padding-top: 48px;
		padding-bottom: 86px;
		background-image: url('../img/products/product-bg.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		position: relative;
		color: #fff;
		font-family: $default-font;
		font-size: 35px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		position: relative;
		z-index: 2;
		.title_special {
			color: #ffff00;
		}
	}	
	&-items {
		padding-top: 116px;
		padding-bottom: 45px;
	}
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 103px;
		&_img {
			margin-right: 26px;
		}
		&_title {
			color: #232323;
			font-family: $default-font;
			font-size: 24px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.74px;
			margin-bottom: 15px;
		}
		&_subtitle {
			color: #503392;
			font-family: $default-font;
			font-size: 16px;
			font-weight: 400;
		}
		&_text {
			color: #373737;
			font-family: $default-font;
			font-size: 14px;
			font-weight: 300;
			line-height: 24.21px;
			letter-spacing: 0.46px;
		}
		
	}
	&-slider {
		.slick {
			&-dots {
				position: absolute;
				bottom: 0;
				display: flex;
				list-style: none;
				padding-left: 0;
				left: 49.5%;
				span.dot {
					display: block;
					width: 9px;
					height: 9px;
					border-radius: 50%;
					background-color: #d7d7d7;
					margin: auto 3px;
				}

			}
			&-active {
				span.dot {
					background-color: #503392;
				}
				
			}
		}
	}
}

