@import url('https://fonts.googleapis.com/css?family=Lato');
@import "vars";
@import "fonts";
@import "libs";


body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}
li {
    list-style: none;
}

li a {
    text-decoration: none;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}
.group-header {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.link-active {
	font-weight: bold!important;
}

b, strong {
	font-weight: bold;
}


@import "header";
@import "banner";
@import "features";
@import "products";
@import "about";
@import "contact";
@import "footer";
@import "media"; // Always at the end
